html {
  scroll-behavior: smooth;

}

.image-container {
  position: relative; /* Essential for positioning children */
  width: 100%; /* Or a fixed width, but 100% is good for responsiveness */
  padding-bottom: 66.62%; /* This creates a 16:9 aspect ratio (height = width * 0.5625) */
  /* Or a fixed height, but padding-bottom is often better for responsive images */
  background-image: url('images/aboutMe.png');
  background-size: contain; /* Or 'contain', depending on desired scaling behavior */
  background-position: center center; /* Center the background image */
  background-repeat: no-repeat;
  overflow: hidden; /* To ensure points don't spill outside if they are larger than expected */
}

.point {
  position: absolute;
}

h1 {
  font-size: 300%;
}

.side{
  width: 28%;
  font-family: 'Courier New', monospace;
  background: white;
  margin: 1%;
  padding: 1%;
  opacity: 0.6;
}

.sideimg {
  background-size: contain;
  width: 50%;
  object-fit: contain;
  float: left;
  margin: 1%;
  padding: 1%;
}

.side:hover {
  transition: opacity 1s;
  opacity: 1;
   box-shadow: 5px 10px;
}

.person {
  float: left;
}

.creative {
  float: left;
}

.activist {
  float: left;
}

.footerDiv{
  float: left;
  width: 92%;
  font-family: 'Courier New', monospace;
  background: white;
  margin: 1%;
  padding: 1%;
  opacity: 0.6;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

a:hover{
  color: #0000ff;
}

ul {
  list-style-type: none;
}

li::first-letter{
   color: #00ffff;
}


.footerDiv:hover {
  transition: opacity 1s;
  opacity: 1;
  box-shadow: 5px 10px;
}

.containerIntro h1, .containerIntro h2 {
    font-family: 'Courier New', monospace;
    display: inline;
}

love:hover{
  color: #ff0000;
}
loveletter:hover {
  font-size: x-large;
}